<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>

    </head> -->

    <body>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        
        <!-- <%- include('_header'); %> -->

        <h1>Codeial / <%= title %></h1>

        <!-- <%- include('_footer'); %> -->
    
    </body>
<!-- </html> -->