<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>

    </head> -->

    <body>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        
        <!-- <%- include('_header'); %> -->
        <div class="home-container">
            <main>
                <%if (locals.user){%>
                <div class="form-container">
                    <h4>Add Post</h4>
                    <form action="/posts/create" method="POST" id="new-post-form">
                        <textarea class="form-control" name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
                        <input class="btn btn-primary" type="submit" value="Add Post"> 
                    </form>
                </div>
                <%  } %>
                <div class="posts-container">
                    <h4>Posts </h4>
                    <%  for (post of posts){%>
                        <%- include('_post.ejs') -%>
                    <%  }%> 
                </div>
            </main>
            <aside>
    
            </aside>
        </div>
        

        <!-- <%- include('_footer'); %> -->
        
        <script type="text/javascript" src="/javascripts/home.js"></script>
    </body>
<!-- </html> -->