<link rel="stylesheet" type="text/css" href="/css/signin.css">
<div id="container">
    <div id="signin-container">
        <form action="/users/create" method="POST" id="form" class="form-control">
            <legend>Sign In Form!</legend>
            <label class="form-label">Email </label>
            <input class="form-control" id="email" type="email" name="email" required>

            <label>Password</label>
            <input class="form-control" type="password" name="password" id="psd" required>

            <span id="message"></span>


            <div id="button">
                <input class="btn-primary" type="submit" value="Sign In!">
            </div>
        </form>
    </div>
</div>